@charset "utf-8";


body {
	font-family:'PT Sans',sans-serif;
	font-size: 110%;
	color: #F0F0F0;
	background: url("../images/imagem1.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	background-size: cover;

}

.imagem1 { background-image: url("../images/imagem1.jpg") ; }
.imagem2 { background-image: url("../images/imagem2.jpg") ; }
.imagem3 { background-image: url("../images/imagem3.jpg") ; }
.imagem4 { background-image: url("../images/imagem4.jpg") ; }


html, body {position: relative;margin: 0 0;}


	.bg-body {
		background-color: #4A5E62;
	}

	.bg-color {
		background-color: #374548;
	}

	.bg-gray {
		background-color: #9BA2A3;
	}

	.bg-opacity {
		background-color:rgba(255,255,255,0.6);
	}

	.bg-transparent {
		background: tranparent;
	}

	.espaco-imagem {
		height: 80vmax;
	}

	.espaco-blocos {
	    height: 30px;
	}

	.text-yellow {
		color: #FFD959;
	}

	a.link-museubr, a.link-museubr:hover, a.link-museubr:active, a.link-museubr:visited {
		color: #374548;
	}

/*   WRAPPER   */

	div.wrapper {}


/*  SECTIONS  */

	.section {
		clear: both;
		padding: 0px;
		margin: 0px;
	}

/*  COLUMN SETUP  */

	.col {
		display: block;
		float: left;
		margin: 1% 0 0 0.5% !important;
		overflow: hidden;
	}

	.col:first-child { margin-left: 0; }

	.transparent {
		background: transparent;
	}

/*  GROUPING  */

	.group:before,	.group:after {
		content:"";
		display:table;
	}

	.group:after {
		clear:both;
	}

	.group {
    		zoom:1; /* For IE 6/7 */
	}		

/*  GRID OF TWELVE  */

	.span_12_of_12 {
		width: 100%;
	}

	.span_11_of_12 {
	  	width: 91.62%;
	}

	.span_10_of_12 {
	  	width: 83.25%;
	}

	.span_9_of_12 {
  		width: 74.87%;
	}

	.span_8_of_12 {
	  	width: 66.5%;
	}

	.span_7_of_12 {
	  	width: 58.12%;
	}

	.span_6_of_12 {
	  	width: 49.75%;
	}

	.span_5_of_12 {
	  	width: 41.37%;
	}

	.span_4_of_12 {
	  	width: 33%;
	}

	.span_3_of_12 {
	  	width: 24.62%;
	}

	.span_2_of_12 {
	  	width: 16.25%;
	}

	.span_1_of_12 {
	  	width: 7.875%;
	}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_12_of_12 {
		width: 100%; 
	}
	.span_11_of_12 {
		width: 100%; 
	}
	.span_10_of_12 {
		width: 100%; 
	}
	.span_9_of_12 {
		width: 100%; 
	}
	.span_8_of_12 {
		width: 100%; 
	}
	.span_7_of_12 {
		width: 100%; 
	}
	.span_6_of_12 {
		width: 100%; 
	}
	.span_5_of_12 {
		width: 100%; 
	}
	.span_4_of_12 {
		width: 100%; 
	}
	.span_3_of_12 {
		width: 100%; 
	}
	.span_2_of_12 {
		width: 100%; 
	}
	.span_1_of_12 {
		width: 100%;
	}
}

/*   GENERAL   */

	.left {
		float: left;
	}

	.right {
		float: right;
	}

	.margin-top-35	{
		margin-top: 35px;
	}

	.margin-top-80 {
		margin-top: 80px;
	}


/*   HEADER   */

	.fixed {
		position: fixed;
		width: 100%;
		z-index: 300;
	}

	.header-height {
	}

	.header-menu {
		padding: 10px;
		margin: 0;
	}

	.header-border {
		border-bottom: 6px solid #4A5E62;
	}

	.title-museubr {
		font-size: 3vmax;
		color: #374548;

	}
	.title-museubr-white {
		font-size: 20px;
		color: #FFFFFF;

	}

	h1.museubr {
		margin: 0 0 0 0;
		padding: 0 10px;
	}

	span.beta {
		font-weight: normal;
		color: #9BA2A3;
		font-size: 24px;
	}

	a.menu-sobre {
	    cursor: pointer;
	}
	
/*   TAG CLOUD  */

div #header-tags {
    text-align: center;
}

div.tag_cloud {
    padding: 20px;

}

.tag_cloud a:link {
    margin: 0px;
    padding: 10px;
    color: #FFD959;
    font-size: 150%;
    line-height: 200%;
    text-decoration: none;
}

.tag_cloud a:hover, a.tag-atual {
    background-color: #4A5E62;
    border-radius:5px;
    color: #FFFFFF !important;
}

.tag_cloud a:visited {
    color: #FFD959;
}

/*   MAPA  */

.mapa {
    padding: 20px;
}

/*   LINKS e HOVER  */

a, a:hover, a:active, a:visited {
			  text-decoration: none;
			  color: #9BA2A3;
		      }

a:hover {
    text-decoration: none;
    color: #FFFFFF;
}


/* IMAGENS */

.img-middle {
    display: block;
    margin-left:auto;
    margin-right:auto;
}

/*   FILTROS  */

.aba-filtros {
    position: relative;
    float: left;
    padding: 10px 10px 12px 10px;
    margin: 0 10px;
    background-color: #4A5E62;
    color: #FFFFFF;
    text-align: center;
    font-weight: normal;
}

.aba {
    top: -43px;
    border-radius: 5px 5px 0 0;
}

.aba-limpar {
    position: relative;
    float: left;
    padding: 10px 10px 12px 10px;
    margin: 0 10px;
    color: #FFFFFF;
    text-align: center;
    font-weight: normal;
}

.borda-filtros {
    border-top:2px solid #4A5E62;
}

/*   ICON  */

.nav-menu {
    float:left;
}

.selector .icon-wrapper-big {
    transform: scale(0.9);
    width: 20px;
    height: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
}

.icon-wrapper-big:hover {
    transform:scale(1,1);
}

.icon-wrapper-big:hover span.bg-gray {
    background-color: #FFFFFF;
}

.selector .icon-wrapper {
    transform: scale(0.7);
    width: 20px;
    height: 20px;
    padding: 10px;
    cursor: pointer;
}

.selector:hover, .icon-wrapper:hover {
		     transform:scale(0.8,0.8);
		 }

.icon-wrapper-x {
    position: relative;
    top: 8px;
}

.bar-icon {
    margin-top: 5px;
}

.first {
    margin-top: 2px;
}

.icon {
    display: block;
    height: 2px;
    width: 20px;
}

.icon-color {
    background: #FFD959;
}

.round {
    border-radius: 25px;
}

.light {
    height: 2px;
    width: 20px;
}

.x-icon {
    position: absolute;
}

.span-right {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.span-left {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.span-right-mais {
    transform: rotate(90deg);
}
.mais-icon {
    position: absolute;
}

.icon-text {
    color: #9BA2A3;
    float: right;
    padding: 10px 5px 0 5px;

}

.selector .icon-wrapper-mais {
    cursor: pointer;
    height: 20px;
    padding: 10px;
    transform: scale(0.7);
    width: 20px;
}

.icon-wrapper-mais-2 {
    position: relative;
    top: 8px;
}

/*.icon-text:hover {
color: #FFFFFF;
cursor: pointer;
}*/

/*   LISTA MUSEUS  */

.bg-lista {
    background-color: #4A5E62;
}

/*.bg-lista:hover {
background-color: #FFD959;
color: #4A5E62;
}*/

.nome-museu-bloco {
    min-height: 70px;
    padding: 20px 0;
    color: #FFFFFF;
    font-size: 20px;
}

.nome-museu , .resultados {
    padding: 10px;
    padding-left: 20px;
}

/*   COBOGOL  */

.cob {}

.opacity {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.opacity .tabs-overflow, .opacity .tabs-overflow div {
    opacity: 1;
    filter: alpha(opacity=100);
}

.col.cob {
    margin: 0 0 0 0.5% !important;
}

.cob:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: pointer;
}

/*.cob_W, .cob_V, .cob_X, .cob_7 {
border-bottom:2px solid #4A5E62;
}
*/


.cob_1 {
    background: url("../images/cob_1.png") repeat;
}

.cob_2 {
    background: url("../images/cob_2.png") repeat;
}

.cob_3 {
    background: url("../images/cob_3.png") repeat;
}

.cob_4 {
    background: url("../images/cob_4.png") repeat;
}

/* MUSEUBR */

div#lista-cidades {

}

div.cidades {
/*    float: right;*/
    overflow: visible;
    z-index: 200;
    width: 100%;
    margin-top:
    background-color: #374548;
}

a.cidades {
    color: #FFDD55;
    position: relative;
    float: left;
    clear: both;
    padding: 5px 10px;
    cursor: pointer;
}

a.cidades:hover, a.cidade-atual {
    background-color: #4A5E62;
    border-radius:5px;
    color: #FFFFFF;
}




div.FAQ {
    padding: 4px 10px 0 20px;
}

a.FAQ {
    color: #9BA2A3;
    text-decoration: none;
}

ul.regioes {
    list-style: outside none none;
    margin: 0;
    padding: 10px;
}

div#lista-cidades {
    background-color: #4a5e62;
    max-height: 150px;
    overflow: scroll;
}

ul.cidades {
    list-style: inside none none;
    margin: 0;
    padding: 10px;
}

ul.regioes li {
    padding: 5px;
}

a.regioes {
    color: #f0f0f0;
    cursor: pointer;
    position: relative;
}

a.FAQ:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/* ABERTO */

div.aberto-1 {
    height: 40vmin;
    padding: 5px;
    margin-top: 40px;
}

.foto_home {
    padding-top: 20px;
}

.mapa_home {
   padding-top: 20px; 
}

.coluna-lateral {
    padding: 20px;
}

.coluna-lateral p {
    margin: 10px 0;
}

.coluna-lateral div.endereco,
.coluna-lateral div.telefone,
.coluna-lateral div.url,
.coluna-lateral div.horario_func {
   padding-right: 20px;
   padding-bottom: 10px;
}


#footer {
    background-color: #374548;
}

/* museubr antigo */

#container {}
.cidade-atual {color: #fff !important}
.botao-retangular.atual {background-color: #ffdd55; color: #4a5d61; float: right; position: relative; top: 5px; }
.botao-retangular.atual:hover {color: #ffffff; background-color: #4a5e62;}

#content { background-color: #374548; height: 100%; min-width: 190px; margin: 0 auto; margin-top: 10px}
.bloco-titulo {width: 168px; margin-left: 124px;  }
#content .loading {text-align: center; margin: 0 auto; background-image: url("../images/carregando.gif"); width: 48px; height: 48px}
.tabs-overflow {width: 100%; overflow: hidden; margin: 0 auto; background-color: #374548; }

/* subpages - home */ 
.subpages-container {z-index: 5; position: relative; width: 100% }
.page { height: 100%; z-index: 10; cursor: default; opacity: 0; position: relative; right: 0 }
.museu-subpages div {width: 100%; font-size: 13px; margin-left: 65px; }

.museu-tabs {display: block; margin: 0 auto; padding: 0; color: #fff}
#filter-tags {color: #FFDD55; text-align: center;}
#filter-tags span {font-weight: bold; font-style: italic}

/* subpages museu mapa */
.mapa-imagem img { margin: 4px}
.page-mapa div {padding-top: 45px}
.page-mapa div.coluna-lateral { float: right; width: 250px; margin-bottom: 20px; margin-right: 70px; margin-left: 0  }
.page-mapa div.coluna-lateral div { margin-left: 0; margin-bottom: 20px; padding: 0 }
.page-mapa div.mapa-imagem {float: left; height: 100%; width: 600px; }

/* subpages museu foto */
.page-imagens { padding: 8px; display: inline }
.lista-imagens div {float: left; margin-left: 2px}
/*.lista-imagens img {width: 270px; height: 180px}*/

.nome-museu-bloco {
    color: #ffffff;
    font-size: 20px;
    padding: 20px 0;
}

/********
 *
 * slideshow 
 *
 */

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 10%;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
		 background-color: rgba(0,0,0,0.8);
	     }

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
	     background-color: #717171;
	 }

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.sobre {
    padding: 10px 30px;
}


div.mostrar-mais {
    border-top: 2px solid #4a5e62;
    margin: 0;
    padding: 40px 20px 100px;
}

.dropbtn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    display: none;
    right: 0;
    width: 400px;
}
.dropdown-content a {
    color: black;
    display: block;
    padding: 20px;
    text-decoration: none;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    transform: scale(1.2);
}



/* BLOG */

.titulo-blog

a.titulo-blog, a.ler-mais {
    color: #FFD959;
    font-size: 18pt;
    cursor:pointer;
}

a.titulo-blog, a.titulo-blog:hover, a.titulo:active, a.titulo-blog:visited {
							 text-decoration: none;
							 color: #9BA2A3;
						     }

a.titulo-blog:hover {
    text-decoration: none;
    color: #F0F0F0;
}

a.ler-mais {
    font-size: 100%;
}

a.ler-mais:hover {
    text-decoration: none;
    color: #F0F0F0;
}



/* DICAS */


a.cidades-dicas {
    font-size: 14pt;
    position: relative;
    clear: both;
    padding: 10px 10px;
    cursor: pointer;
    background-color: #4A5E62;
    border-radius:5px;
    color: #F0F0F0;
}


a.cidades-dicas:hover {
    color: #FFDD55;
    background-color: transparent;
}

.menu a {
    cursor: pointer;
}


/* CARROSSEL */

.carrossel-caixa {
    border-radius: 2px;
    padding:5px;
}

.carrossel {
    color: #F0F0F0;
    background-color: #374548;
    border-radius: 2px;
    padding: 20px;
    align: bottom;
}

p.carrossel-titulo {
    font-size: 130%;
    
}

p.carrossel-subtitulo {
    font-style: italic;
}

.selector .icon-wrapper-carrossel {
    transform: scale(0.7);
    width: 10px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
}

.icon-wrapper-carrossel:hover {
    transform:scale(0.8,0.8);
}

.icon-wrapper-carrossel {
    position: relative;
    top: 4px;    
}

#content-full {
    display: none;
}