# Ignore configuration files that may contain sensitive information.
blog/sites/*/*settings*.php

# Ignore paths that contain generated content.
cache/
files/
blog/sites/*/private
blog/sites/default/files/*

# Ignore default text files
.htaccess
blog/private/backup_migrate/manual/.htaccess
blog/robots.txt
blog/CHANGELOG.txt
blog/COPYRIGHT.txt
blog/INSTALL*.txt
blog/LICENSE.txt
blog/MAINTAINERS.txt
blog/UPGRADE.txt
blog/README.txt
blog/sites/all/README.txt
blog/sites/all/modules/README.txt
blog/sites/all/themes/README.txt

# Ignore everything but the "sites" folder ( for non core developer )
blog/web.config
blog/authorize.php
blog/cron.php
blog/index.php
blog/install.php
blog/update.php
blog/xmlrpc.php
blog/includes
blog/misc
blog/modules
blog/profiles
blog/scripts
blog/themes

# static
/js/site-config.json

### Emacs ###
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive


### vim ###
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### Misc
.DS_Store
