# Ignore configuration files that may contain sensitive information.
admin/sites/*/*settings*.php

# Ignore paths that contain generated content.
cache/
files/
admin/sites/*/private
admin/sites/default/files/*

# Ignore default text files
.htaccess
/admin/private/backup_migrate/manual/.htaccess
/admin/robots.txt
/admin/CHANGELOG.txt
/admin/COPYRIGHT.txt
/admin/INSTALL*.txt
/admin/LICENSE.txt
/admin/MAINTAINERS.txt
/admin/UPGRADE.txt
/admin/README.txt
admin/sites/all/README.txt
admin/sites/all/modules/README.txt
admin/sites/all/themes/README.txt

# Ignore everything but the "sites" folder ( for non core developer )
admin/web.config
admin/authorize.php
admin/cron.php
admin/index.php
admin/install.php
admin/update.php
admin/xmlrpc.php
/admin/includes
/admin/misc
/admin/modules
/admin/profiles
/admin/scripts
/admin/themes

# static
/js/site-config.json

### Emacs ###
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive


### vim ###
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### Misc
.DS_Store
