body {background-color: #374548; font-family: sans-serif; color: #fff; }
#container {}
#header {color: #ffd959; height: 210px; width: 100%; }
#content-full {margin: 0 auto; float: left; width: 100%}
#footer {height: 100px}

#header h3 {font-weight: bold; font-size: 18px; color: #fff; }
div #header-titulo { float: left; width: 25%; min-width: 200px }
div #header-tags { float: left;  width: 40%; min-width: 200px}
div #header-mapa { float: left; width: 25%; min-width: 200px}
div #header-lang { float: left; width: 10%; min-width: 100px}

#header-mapa div#mapa-posicao {float: left; }
#header-mapa div#lista-cidades {float: left; margin-left: 20px }
#header-mapa #lista-cidades ul {margin: 0; padding: 0 ; list-style-type: none; font-size: 11px; }
#header-mapa #lista-cidades li {}

div #header-lang span, div #header-lang span a {text-decoration: none; color: #bfc0c2; font-size: 11px; font-weight: bold}
div #lista-cidades { }
div#regiao { background-color: #4a5d61; color: #fff; padding: 10px; font-weight: bold; font-size: 16px; border-radius: 5px; text-align: center; margin-top: 20px}

#tag_cloud a { text-decoration: none}

#content { background-color: #374548; height: 100%; width: 1020px; overflow: hidden; min-width: 190px; margin: 0 auto; margin-top: 10px}
.bloco-titulo {width: 168px; margin-left: 124px; padding: 10px; padding-left: 20px; padding-right: 20px; height: 80px; color: #fff; font-family: sans-serif; font-size: 16px; font-weight: bold}
#content .loading {color: #333; background-color: #aaa; padding: 3px; text-align: center; width: 400px; margin: 0 auto}

/* subpages - home */ 
.subpages-container {background-color: #000; width: 5100px; z-index: 5;  }
.page { background-color: #000; height:100%; width: 1020px; z-index: 10; cursor: default; opacity: 0; position: relative; right: 0 }
.museu-subpages div {font-size: 12px; }
.museu-subpages .foto_home {width: 30%; float: left; padding: 8px; padding-left: 65px}
.museu-subpages .texto_home {width: 40%; float: left; padding: 8px}
.museu-subpages .imagens_home {width: 25%; float: right; padding: 8px}
#navigation {z-index: 100; position: relative; top: 180px; }
#navigation .left { background-image: url("../images/left.png"); margin-left: 10px; float: left; width: 52px; height: 47px }
#navigation .right { background-image: url("../images/right.png"); margin-right: 10px; float: left; width: 52px; height: 47px; position: absolute; right: 5px }
#navigation .left:hover { background-image: url("../images/left-up.png"); cursor: pointer}
#navigation .right:hover { background-image: url("../images/right-up.png"); cursor: pointer}

.museu-tabs {float: left; display: inline; margin: 0 auto; color: #fff}
#filter-tags {color: #FFDD55; text-align: center;}
#filter-tags span {font-weight: bold; font-style: italic}