body {background-color: #374548; font-family: 'PT Sans', sans-serif; color: #fff; }
#container {}
#header {color: #ffd959; height: 210px; width: 100%; }
#content-full {margin: 0 auto; float: left; width: 100%}
#footer {height: 100px}
a {text-decoration: none; color: #fff }

#header h3 {font-weight: bold; font-size: 18px; color: #fff; }
div #header-titulo { float: left; width: 25%; min-width: 200px }
div #header-tags { float: left;  width: 40%; min-width: 200px; }
div #header-mapa { float: left; width: 25%; min-width: 200px}
div #header-lang { float: left; width: 10%; min-width: 100px}

#header-mapa div#mapa-posicao {float: left; }
#header-mapa div#lista-cidades {float: left; margin-left: 20px }
#header-mapa #lista-cidades ul {margin: 0; padding: 0 ; list-style-type: none; font-size: 11px; }
#header-mapa #lista-cidades li {}
#header-mapa #lista-cidades li a { color: #ffdd55; font-size: 14px; font-weight: bold }
#header-url { font-size: 30px; font-weight: bold; }

div #header-lang span, div #header-lang span a {text-decoration: none; color: #bfc0c2; font-size: 11px; font-weight: bold}
div #lista-cidades { }

.botao-retangular { background-color: #4a5d61; color: #fff; padding: 10px; font-weight: bold; font-size: 16px; border-radius: 5px; text-align: center; }

#tag_cloud a { text-decoration: none; float: left; margin: 2px}
.cidade-atual, .tag-atual { color: #fff !important }
.botao-retangular.atual {background-color: #FFDD55; color: #4a5d61 !important; }
div.tag { display: inline;  }

a.cidades {color: #ffdd55; font-size:16pt }

div#regiao { margin-top: 20px}

#content { background-color: #374548; height: 100%; width: 1020px; overflow: hidden; min-width: 190px; margin: 0 auto; margin-top: 10px}
.bloco-titulo {width: 168px; margin-left: 124px; padding: 10px; padding-left: 20px; padding-right: 20px; height: 80px; color: #fff; font-size: 16px; font-weight: bold}
#content .loading {text-align: center; margin: 0 auto; background-image: url("../images/carregando.gif"); width: 48px; height: 48px}
.btn-museu {width: 100%; height: 100px;}

.museus-content { background-color: #000 }
.museu-row {background-repeat: repeat-x }

/* subpages - home */ 
.subpages-container {width: 0; z-index: 5; position: relative }
.page { height: 100%; width: 0; z-index: 10; cursor: default; opacity: 0; position: relative; right: 0 }
.museu-subpages div {font-size: 12px; margin-left: 65px; }
.museu-subpages .foto_home {width: 30%; float: left; padding: 8px; }
.museu-subpages .texto_home {width: 40%; float: left; padding: 8px}
.museu-subpages .imagens_home {width: 25%; float: right; padding: 8px}
#navigation {z-index: 100; position: relative; top: 180px; }
#navigation .left { background-image: url("../images/left.png"); margin-left: 10px; float: left; width: 52px; height: 47px }
#navigation .right { background-image: url("../images/right.png"); margin-right: 10px; float: left; width: 52px; height: 47px; position: absolute; right: 5px }
#navigation .left:hover { background-image: url("../images/left-up.png"); cursor: pointer}
#navigation .right:hover { background-image: url("../images/right-up.png"); cursor: pointer}

.museu-tabs {float: left; display: inline; margin: 0 auto; color: #fff}
#filter-tags {color: #FFDD55; text-align: center;}
#filter-tags span {font-weight: bold; font-style: italic}

/* subpages museu mapa */
.mapa-imagem img { margin: 4px}
.page-mapa div {padding-top: 10px}
.page-mapa div.coluna-lateral { float: right; width: 250px; margin-bottom: 20px; margin-right: 70px; margin-left: 0  }
.page-mapa div.coluna-lateral div { margin-left: 0; margin-bottom: 20px; padding: 0 }
.page-mapa div.mapa-imagem {float: left; height: 100%; width: 600px; }

/* subpages museu foto */
.page-imagens { padding: 8px; }