<% _.each(posts, function(post) { %>
<div class="section group bg-color">
  <div class="section group">
    <div class="col span_3_of_12">
    </div>
    <div class="col span_8_of_12">
      <div class="coluna-lateral">
	<p><%= post.titulo %></p><br><br>
      </div>
    </div>
  </div>

  <% if (post.imagem !== '') { %>
  <div class="section group">
    <div class="col span_1_of_12"> </div>
    <div class="col span_4_of_12" style="max-height: 300px">
      <img src="<%= post.imagem %>" height="">
    </div>
  </div>
  <% } %>
  
  <div class="section group">
    <div class="col span_3_of_12">
    </div>
    <div class="col span_8_of_12">
      <div class="coluna-lateral">
	<p><%= post.corpo %></p><br><br>
      </div>
    </div>
  </div>

</div>
<% }); %>
