<div class="wrapper">
  <div class="section group bg-opacity header-menu">
    <div class="col span_1_of_12">
    </div>
    <div class="col span_10_of_12">
      <div class="left">
	<nav class="nav-menu">
	  <a class="selector" href="sobre.html">
	    <div class="icon-wrapper-big bg-body square">
	      <div class="icon-wrapper-bar">
		<span class="icon bar-icon first bg-gray"></span>
		<span class="icon bar-icon bg-gray"></span>
		<span class="icon bar-icon bg-gray"></span>
	      </div>
	    </div>
	  </a>
	</nav>
      </div>
      <div class="right">
	<nav class="nav-menu">
	  <a class="selector">
	    <div class="icon-wrapper bg-body round">PT</div>
	  </a>
	</nav>
	<nav class="nav-menu">
	  <a class="selector">
	    <div class="icon-wrapper bg-body round">EN</div>
	  </a>
	</nav>
	<nav class="nav-menu">
	  <a class="selector">
	    <div class="icon-wrapper bg-body round">ES</div>
	  </a>
	</nav>
	<nav class="nav-menu">
	  <a class="selector">
	    <div class="icon-wrapper bg-body round">FR</div>
	  </a>
	</nav>
      </div>
    </div>
  </div>
  <div class="section group bg-opacity">
    <div class="section group">
      <div class="col span_1_of_12">
      </div>
      <div class="col span_7_of_12">
	<div class="title-museubr">
	  <h1 class="museubr"><a href="index_2.html" class="link-museubr">museubr </a></h1>
	</div>
      </div>
      <div class="col span_3_of_12">
	<img src="images/LOGO_petrobras.png" width="100%">
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="section group bg-transparent espaco-imagem">
    <div class="section group">
      <div class="col span_11_of_12">
	<br>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="section group bg-opacity header-menu">
    <div class="col span_1_of_12">
    </div>
    
    <div class="col span_10_of_12">
      <!-- wraper pesquisa -->
      <div class="wrapper">
	<div class="section group bg-color">
	  <div class="section group">
	    <div class="col span_1_of_12">
	    </div>
	    <div class="col span_7_of_12">
	      <div class="title-museubr-white">
		<h1 class="museubr">museubr <span class="beta">[ pesquisa ]</span></h1>
	      </div>
	    </div>
	    <div class="col span_2_of_12">
	    </div>
	  </div>
	</div>
      </div>
      <!-- fim wraper pesquisa -->
      
      <!-- wraper tags  -->
      <div class="wrapper" id="museus-content">
	<div class="col span_1_of_12">
	</div>
	<div class="col span_7_of_12">
	  <div id="header-tags" class="margin-top-80">
	    <div class="aba-filtros aba" href="">
	      <%=data.mensagens.Temas %>
	    </div>
	  </div>
	</div>
	<div class="col span_3_of_12 area-titulo bg-color">
	</div>	
      </div>
      <div id="filter-tags"></div>
      <!-- fim wraper tags  -->

      <!-- wraper museus-content  -->
      <div class="wrapper" id="museus-content">
      </div>
      <!-- wraper museus-content  -->
