<h3><%= mensagens.mensagemSobreTitulo %></h3>

<p>
<% if (lang == 'pt-br') { %>
O projeto MuseuBr é o resultado de uma parceria entre o Instituto Brasileiro de Museus (IBRAM) do Ministério da Cultura, o Instituto Brasiliana e o Núcleo de Cultura Digital do Centro Brasileiro de Análise e Planejamento (CEBRAP). Com o patrocínio da Petrobras, o projeto está desenvolvendo e gerenciando um portal na internet para disponibilizar informações sobre os museus brasileiros. Trata-se de uma plataforma social e técnica para difusão de informações sobre os museus brasileiros. <br/>
<br/>
Esta ação está em sintonia com a Política Nacional de Museus [maio de 2013], sobretudo com alguns de seus eixos programáticos: 2.7 (“... ações que tenham por objetivo a democratização do acesso aos museus e o desenvolvimento de políticas de comunicação com o público”); 4.3 (“estímulo e apoio à projetos que visam a disponibilizar informações sobre acervos, pesquisas e programações dos museus em mídias eletrônicas”); 4.5 (“estímulos aos projetos de informatização e tecnologia digital desenvolvidos em parceria com instituições de ensino”).<br/>
<br/>
A atual versão do site é um protótipo de testes que está sendo, neste momento, ampliada (em seus conteúdos e informações) e modificada (nas suas funcionalidades e design). Nesta primeira fase do Projeto, prevemos a produção e integração de informações sobre 146 museus localizados nas cidades-sede da Copa do Mundo de 2014.<br/>
<br/>
As informações que publicamos foram verificadas. Recomendamos, de toda maneira, que antes de organizar a sua visita procure entrar em contato com o museu para confirmar se o mesmo está aberto ao público.<br/>
<br/>
<strong>CONTATO:</strong> contato@museubr.org<br/>
<br/>
<strong>EQUIPE DE DESENVOLVIMENTO</strong><br/>
<br/>
<strong>Instituto Brasiliana</strong><br/>
Mariah Vilas Boas<br/>
Sônia Sales<br/>
<br/>
<strong>Núcleo de Cultura Digital do CEBRAP</strong><br/>
Pedro Puntoni<br/><
Edson Satoshi Gomi<br/>
Kollontai Diniz<br/>
Ágatha Francesconi Gatti<br/>
Fernão Lopes<br/>
<br/>
<strong>Gestor do Projeto</strong><br/>
<br/>
Instituto Brasiliana<br/>
<br/>
<a href="http://www.institutobrasiliana.org.br">www.institutobrasiliana.org.br</a><br/>
Rua Lisboa, 69 / Pinheiros / São Paulo / SP / 05413-000<br/>
tel: (011) 3082-5547   <a href="mailto:contato@institutobrasiliana.org.br">contato@institutobrasiliana.org.br</a><br/>
CNPJ 12.407.057/0001-99<br/>
</p>
<% } else if (lang == 'fr') { %>

<% } %>
