
<a name="sobre_link" id="sobre_link"/>
<div class="wrapper" id="sobre">
  <div class="section group">
    <div class="col span_1_of_12">
    </div>

    <div class="col span_7_of_12 bg-color">
      <div class="sobre conteudo">
      </div>
      <div class="col span_2_of_12 ">
	<div class="sobre">
	</div>
      </div>
      <div class="col span_1_of_12">
      </div>
    </div>

    <div class="col span_2_of_12 bg-color" id="flutuante-sobre">
      <div class="sobre">
	<p><a id="sobre_sobre" class="menu-sobre">SOBRE</a></p>
	<p><a id="sobre_direitos" class="menu-sobre">DIREITOS</a></p>
	<p><a id="sobre_institutobrasiliana" class="menu-sobre">INSTITUTO BRASILIANA</a></p>
	<p><a id="sobre_equipe" class="menu-sobre">EQUIPE</a></p>
	<p><a id="sobre_contato" class="menu-sobre">CONTATO</a></p>
      </div>	
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="section group bg-transparent">
    <div class="section group">
      <div class="col span_11_of_12">
	<br>
      </div>
    </div>
  </div>
</div>


<a name="direitos_link" id="direitos_link"/>
<div class="wrapper" id="direitos">
  <div class="section group">
    <div class="col span_1_of_12">
    </div>
    <div class="col span_7_of_12 bg-color ">
      <div class="sobre conteudo">
      </div>
      <div class="col span_2_of_12 ">
      </div>
      <div class="col span_1_of_12">
      </div>
    </div>
  </div>
</div>

<a name="institutobrasiliana_link" id="institutobrasiliana_link"/>
<div class="wrapper" id="institutobrasiliana">
  <div class="section group">
    <div class="col span_1_of_12">
    </div>
    <div class="col span_7_of_12 bg-color ">
      <div class="sobre conteudo">
      </div>
      <div class="col span_2_of_12 ">
      </div>
      <div class="col span_1_of_12">
      </div>
    </div>
  </div>
</div>

<a name="equipe_link" id="equipe_link"/>
<div class="wrapper" id="equipe">
  <div class="section group">
    <div class="col span_1_of_12">
    </div>
    <div class="col span_7_of_12 bg-color ">
      <div class="sobre conteudo">
      </div>
      <div class="col span_2_of_12 ">
      </div>
      <div class="col span_1_of_12">
      </div>
    </div>
  </div>
</div>

<a name="contato_link" id="contato_link"/>
<div class="wrapper" id="contato">
  <div class="section group">
    <div class="col span_1_of_12">
    </div>
    <div class="col span_7_of_12 bg-color ">
      <div class="sobre conteudo">
      </div>
      <div class="col span_2_of_12 ">
      </div>
      <div class="col span_1_of_12">
      </div>
    </div>
  </div>
</div>
