<div style="width:1020px;margin:0 auto;">
<h3 style="padding-left:200px;"><%= mensagens.mensagemSobreTitulo %></h3>
<p style="color:#F0F0F0;font-size:14px;line-height:18px;padding:0 100px 0 200px;">
<% if (lang == 'pt-br') { %>
O projeto <span style="font-weight:bold;color:#FFDD55;">museubr</span> é o resultado de uma parceria entre o Instituto Brasileiro de Museus (IBRAM) do Ministério da Cultura, o Instituto Brasiliana e o Núcleo de Cultura Digital do Centro Brasileiro de Análise e Planejamento (CEBRAP).<br/>
<br/>
A equipe do <span style="font-weight:bold;color:#FFDD55;">museubr</span> está desenvolvendo e gerenciando um portal na internet para disponibilizar informações sobre os museus brasileiros. Trata-se de uma plataforma social e técnica para difusão de informações sobre os museus brasileiros. <br/>
<br/>
Esta ação está em sintonia com a Política Nacional de Museus [maio de 2013], sobretudo com alguns de seus eixos programáticos: 2.7 (“... ações que tenham por objetivo a democratização do acesso aos museus e o desenvolvimento de políticas de comunicação com o público”); 4.3 (“estímulo e apoio à projetos que visam a disponibilizar informações sobre acervos, pesquisas e programações dos museus em mídias eletrônicas”); 4.5 (“estímulos aos projetos de informatização e tecnologia digital desenvolvidos em parceria com instituições de ensino”).<br/>
<br/>
A atual versão do site é um protótipo de testes que está sendo, neste momento, ampliada (em seus conteúdos e informações) e modificada (nas suas funcionalidades e design).<br/>
<br/>
Baseados na lei de Linus, que estabelece que "dados olhos suficientes, todos os erros são óbvios" (given enough eyeballs, all bugs are shallow), acreditamos que os usuários poderão nos ajudar (com críticas e comentários) a melhorar e corrigir, desde já, o site. Neste sentido, iremos, em breve, propor mecanismos eficientes de colaboração e participação.<br/>
<br/>
Nesta primeira fase do Projeto, prevemos a produção e integração de informações sobre cerca de 150  museus localizados nas cidades-sede da Copa do Mundo de 2014 e algumas localidades próximas. A seleção destes museus foi feita em conjunto com o IBRAM.<br/>
<br/>
<br/>
<br/>
<span style="letter-spacing:2px;"><strong>ADVERTÊNCIA</strong></span><br/>
<br/>
Todas as informações que publicamos foram verificadas por nossa equipe. Recomendamos, de toda maneira, que antes de organizar a sua visita procure entrar em contato com o museu para confirmar se o mesmo está aberto.<br/>
<br/>
<br/>
<br/>
<span style="letter-spacing:2px;"><strong>CONTATO</strong></span><br/>
<a href="mailto:museubr@ibrasiliana.org.br" style="color:#FFDD55;">museubr@ibrasiliana.org.br</a><br/>
<br/>
<br/>
<br/>
<span style="letter-spacing:2px;"><strong>EQUIPE DE DESENVOLVIMENTO</strong></span><br/>
<br/>
<span style="letter-spacing:1px;"><strong>Instituto Brasiliana</strong></span><br/>
Mariah Vilas Boas<br/>
Sônia Sales<br/>
<br/>
<br/>
<span style="letter-spacing:1px;"><strong>Núcleo de Cultura Digital do CEBRAP</strong></span><br/>
Pedro Puntoni<br/>
Edson Satoshi Gomi<br/>
Tai Diniz<br/>
Ágatha Francesconi Gatti<br/>
Fernão Lopes<br/>
<br/>
<br/>
<br/>
<span style="letter-spacing:1px;"><strong>GESTOR DO PROJETO</strong></span><br/>
<br/>
Instituto Brasiliana<br/>
<br/>
<a href="http://www.institutobrasiliana.org.br" style="color:#FFDD55;">www.institutobrasiliana.org.br</a><br/>
<br/>
Rua Lisboa, 69 / Pinheiros / São Paulo / SP / 05413-000<br/>
tel: (011) 3082-5547   <a href="mailto:contato@institutobrasiliana.org.br" style="color:#FFDD55;">contato@institutobrasiliana.org.br</a><br/>
<br/>
<br/>
<br/>
<span style="letter-spacing:1px;"><strong>NOTAS SOBRE O DIREITO DAS IMAGENS</strong></span><br/>
<br/>
No Brasil, os direitos do autor são regulados pela Lei n.9.610, de 19 de fevereiro de 1998. Os direitos do autor estão também respaldados na Convenção de Berna, de 1971. Neste site, utilizamos apenas imagens em domínio público ou com licenças que possibilitam a sua divulgação. Se você acreditar que alguma imagem publicada aqui esteja violando direitos autorais, solicitamos que nos informe imediatamente (museubr@ibrasiliana.org.br).<br/>
<br/>
<br/>
<br/>
<span style="letter-spacing:1px;"><strong>CRÉDITOS DAS IMAGENS</strong></span><br/>
<br/>
Banco de imagens do Ibram / Wikimedia / Overmundo<br/>
<br/>
Casa da Cultura da América Latina, UnB / Centro Dragão do Mar de Arte e Cultura / Fundação Instituto Feminino da Bahia / Fundação Vale / Instituto Nacional de Pesquisa da Amazônia / Museu Câmara Cascudo, UFRN / Museu Nacional de Enfermagem Anna Nery / Museu de Valores do Banco Central do Brasil / Prefeitura de Cuiabá / Prefeitura de Recife / Secretaria de Cultura da Bahia / Secretaria de Cultura de Minas Gerais</br>
<br/>
Blog “Circulando por Curitiba” / Blog “A era dos carros” / Blog “ O Eldorado é aqui” / Blog “Museus do Amazonas / Blog “Alfredo Fernandes” / Blog “Potiguarte” / Blog “Na pracinha” / Blog “Das artes” / Blog “Claudiaroma” / Portal “Oi Acontece” / Portal “ArqBH” / Portal “Guia Geográfico de Curitiba” / Portal “Arte Informado” / Portal “Pernambuco Cultural” / Portal “Casa de Olinda” / Portal “Brasil Cultura” / Portal “Pernambuco Cultural” / Portal “De Boa”<br/>
</p>
</div>
<% } else if (lang == 'fr') { %>

<% } %>
