<div id="header-titulo">
  <a href='#<%= lang %>' id="headerUrl"><img src="images/museubr.png"></a>
</div>

<div id="header-tags"><p><%= carregandoTags %></p></div>

<div id="header-mapa">
  <div id="mapa-posicao">
    <img src="images/mapabr.png">
  </div>
  <div id="lista-cidades">
    <ul>
      <li>Rio de Janeiro</li>
      <li>São Paulo</li>
      <li>Brodowski</li>
      <li>Vitória</li>
      <li>(conteúdo falso ainda)</li>
    </ul>
    <div id="regiao" class="botao-retangular">sudeste</div>
  </div>
</div>
<div id="header-lang">
  <span>
    <a href='#pt-br'>PT</a> | 
    <a href='#en'>EN</a> | 
    <a href='#fr'>FR</a> | 
    <a href='#es'>ES</a>
  </span>
</div>

<br class="clearBoth" />
