<div id="header-titulo">
  <a href='#'><img src="images/museubr.png"></a>
</div>

<div id="header-tags"></div>

<div id="header-mapa">
  <div id="mapa-posicao">
    <img src="images/mapabr.png">
  </div>
  <div id="lista-cidades">
    <div id="regiao">sudeste</div>

    <ul>
      <li>Rio de Janeiro</li>
      <li>São Paulo</li>
      <li>Brodowski</li>
      <li>Vitória</li>
      <li>(conteúdo falso ainda)</li>
    </ul>
  </div>
</div>
<div id="header-lang">
  <span>
    <a href='pt'>PT</a> | 
    <a href='en'>EN</a> | 
    <a href='fr'>FR</a> | 
    <a href='es'>ES</a>
  </span>
</div>

<br class="clearBoth" />
