<div id="tag_cloud">
  <% _.each(tags, function(t){ %>
  <a class='tag <% if (tag == t.name) { %>tag-atual<% } %>' href='#<%= t.lang %>/<%= t.name %>/<%=localizacao %>' rel='<%= t.count %>' title='<%= t.name %>'><%= t.name %></a>
  <% }) %>
  <% if (tag == 'todos' || tag == '')  { %>
  <a class="botao-retangular todos atual" href="#/todos/<%=localizacao %>">todos</a><br/><br/>
  <% } else { %>
  <a class="botao-retangular todos" href="#<%= lang %>/todos/<%=localizacao %>">todos</a><br/><br/>
  <% } %>
</div>
