<div id="tag_cloud">
  <% if (tag_atual == 'todos' || tag_atual == '')  { %>
  <a class='botao-retangular todos atual' href="#/todos/<%=localizacao %>">todos</a>
  <% } else { %>
  <a class='botao-retangular todos' href="#<%= lang %>/todos/<%=localizacao %>">todos</a>
  <% } %>
  <% _.each(tags, function(tag){ %>
  <a class='botao-retangular<% if (tag_atual == tag.name) { %> atual<% } %>' href='#<%= tag.lang %>/<%= tag.name %>/<%=localizacao %>' rel='<%= tag.count %>' title='<%= tag.name %>'><%= tag.name %></a>
  <% }) %>
</div>
